@{
    ViewData["Title"] = "Home Page";
}

<table>
    <tr>
        <td colspan="2" style="padding:50px 5px 5px 5px">
            <div class="modal-content" style="padding:10px;">
                <h1>News</h1>
                <h3>The eight ugliest PC gaming cases we've ever seen</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non cursus turpis, et aliquet velit. Nulla mollis risus at diam malesuada rhoncus. Curabitur efficitur lacus vitae hendrerit mattis. Sed vitae mauris quis dolor tristique efficitur. Integer suscipit dictum nulla eu aliquet. Vestibulum gravida libero quam, pellentesque convallis massa vestibulum in. Sed vestibulum massa ut libero luctus dictum. Cras interdum justo vitae nulla efficitur hendrerit. Nulla eu auctor erat. Fusce purus magna, vulputate ac tortor ac, sollicitudin mollis leo. In et orci ut turpis interdum scelerisque a sed odio.
                </p>
            </div>
        </td>
        <td rowspan="2" style="padding:5px;">
            <div class="modal-content" style="padding:10px; width=25%">
                <h1>Recent Posts</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non cursus turpis, et aliquet velit. Nulla mollis risus at diam malesuada rhoncus. Curabitur efficitur lacus vitae hendrerit mattis. Sed vitae mauris quis dolor tristique efficitur. Integer suscipit dictum nulla eu aliquet. Vestibulum gravida libero quam, pellentesque convallis massa vestibulum in. Sed vestibulum massa ut libero luctus dictum. Cras interdum justo vitae nulla efficitur hendrerit. Nulla eu auctor erat. Fusce purus magna, vulputate ac tortor ac, sollicitudin mollis leo. In et orci ut turpis interdum scelerisque a sed odio.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non cursus turpis, et aliquet velit. Nulla mollis risus at diam malesuada rhoncus. Curabitur efficitur lacus vitae hendrerit mattis. Sed vitae mauris quis dolor tristique efficitur. Integer suscipit dictum nulla eu aliquet. Vestibulum gravida libero quam, pellentesque convallis massa vestibulum in. Sed vestibulum massa ut libero luctus dictum. Cras interdum justo vitae nulla efficitur hendrerit. Nulla eu auctor erat. Fusce purus magna, vulputate ac tortor ac, sollicitudin mollis leo. In et orci ut turpis interdum scelerisque a sed odio.</p>
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding:5px;">
            <div class="modal-content" style="padding:10px;">
                <h1>Group Suggestions</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non cursus turpis, et aliquet velit. Nulla mollis risus at diam malesuada rhoncus. Curabitur efficitur lacus vitae hendrerit mattis. Sed vitae mauris quis dolor tristique efficitur. Integer suscipit dictum nulla eu aliquet. Vestibulum gravida libero quam, pellentesque convallis massa vestibulum in. Sed vestibulum massa ut libero luctus dictum. Cras interdum justo vitae nulla efficitur hendrerit. Nulla eu auctor erat. Fusce purus magna, vulputate ac tortor ac, sollicitudin mollis leo. In et orci ut turpis interdum scelerisque a sed odio.</p>
            </div>
        </td>
        <td style="padding:5px;">
            <div class="modal-content" style="padding:10px;">
                <h1>Game Suggestions</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non cursus turpis, et aliquet velit. Nulla mollis risus at diam malesuada rhoncus. Curabitur efficitur lacus vitae hendrerit mattis. Sed vitae mauris quis dolor tristique efficitur. Integer suscipit dictum nulla eu aliquet. Vestibulum gravida libero quam, pellentesque convallis massa vestibulum in. Sed vestibulum massa ut libero luctus dictum. Cras interdum justo vitae nulla efficitur hendrerit. Nulla eu auctor erat. Fusce purus magna, vulputate ac tortor ac, sollicitudin mollis leo. In et orci ut turpis interdum scelerisque a sed odio.</p>
            </div>
        </td>
        <td></td>
    </tr>
</table>


